.footer-area {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: flex;
  z-index: 3;
}
.footer-area::before {
  content: '';
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background: #000;
  display: block;
  background: linear-gradient(
      90deg,
      transparent 0,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    linear-gradient(90deg, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
  background-size: 15px 20px, 100% 100%;
  position: flex;
  z-index: 3;
}

.main-frame {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(85ch + 350px);
  position: relative;
  width: 100%;
}

.copyright {
  font-size: 0.9rem;
  color: #666;
  padding: 1.5rem 0;
}
.footer-link {
  color: #8338ec;
  font-weight: 700;
  transition: all 0.3s ease;
  margin: 0.3rem 0;
}
.footer-col {
  display: grid;
}

@media only screen and (max-width: 750px) {
  .footer-col {
    display: inline;
  }
  .footer-link {
    margin: 0.3rem 0.5rem;
  }
  .extra {
    display: none;
  }
}
